<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA_EdhKQZf98Sfz8EEhEBrt2XhJ9w-vmM</string>
	<key>GCM_SENDER_ID</key>
	<string>4516014037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cobyzero.app26.app26</string>
	<key>PROJECT_ID</key>
	<string>app-c8d37</string>
	<key>STORAGE_BUCKET</key>
	<string>app-c8d37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4516014037:ios:28890c5844a4d7f627bf5c</string>
</dict>
</plist>